@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; 
  background-image: url(/images/concrete-wall.jpg);
  box-sizing: border-box;
  height: fit-content;
}

.tasks-form {
  margin: 150px auto 0px auto;
  width: 90%;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  font-size: 30px;
}

input {
  width: 60%;
  height: 50px;
  font-size: 30px;
}

button {
  width: 30%;
  height: 57px;
  font-size: 30px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.all-tasks {
  margin: auto;
  width: 75%;
  padding: 0px 150px 0px 150px;
  max-height: fit-content;
  border-radius: 15px;
  display: inline-block;
  display: flex;
  gap: 50px;
  font-size: 30px;
}

.todo-column {
  width: 50%;
  border-top: solid black 2px;
  border-right: solid black 2px;
}

.done-column {
  width: 50%;
  border-top: solid black 2px;
  border-right: solid black 2px;
}


